<div class="row">
  <div class="btn col d-flex align-items-center">
    <%= link_to '戻る', "javascript:history.back()", class: "btn btn-secondary", data: { turbolinks: false } %>
  </div>
  <div class="btn col d-flex justify-content-end align-items-center">
    <%= link_to "削除", admin_feature_path(@feature), method: :delete, data: { confirm: "本当に削除しますか？" } , class: "btn btn-danger" %>
  </div>
</div>
<div class="w-75 mx-auto">
  <h1 class="mb-4 text-center">特徴編集</h1>
  <%= render 'layouts/error_messages', model: @feature %>

  <%= form_with model: @feature, url: admin_feature_path do |f| %>

    <div class="form-group m-3">
      <h4>表示させる投稿（複数選択可）</h4>
      <div class="d-flex flex-wrap">
        <% @purposes.each do |purpose| %>
          <div class="m-2 form-check form-check-inline">
            <!--選択されていた特徴にはチェックを入れる-->
            <%= check_box_tag "feature[purpose_ids][]", purpose.id, @feature.purpose_ids.include?(purpose.id), class: 'form-check-input' %>
            <%= purpose.name %><br>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-group m-3">
      <h4>特徴ジャンル</h4>
      <div class="field d-flex flex-wrap">
        <%= f.collection_radio_buttons :feature_genre_id, @feature_genres, :id, :name do |feature_genre| %>
          <div class="mx-3 form-check form-check-inline">
            <%= feature_genre.radio_button class: "form-check-input" %>
            <%= feature_genre.label class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-group m-3">
      <h4>特徴名</h4>
      <div class="field">
        <%= f.text_field :name, class: "form-control"  %>
      </div>
    </div>

    <div class="form-group mx-3 my-4">
      <%= f.submit "更新", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
