<% posts.each do |post| %>
  <div class="m-2 p-3 border w-25 shadow">
    <%= link_to post_path(post) do %>  
      <div>
        <% if post.user.image.attached? %>
          <%= image_tag post.user.image, size: "40x40" %>
        <% else %>
          <%= image_tag "person", size: "40x40" %>
        <% end %>
        <%= post.user.name %>
      </div>
      <h4><%= post.title %></h4>
      <span><%= post.purpose.name %></span>
      <span><%= post.category.name %></span>
      <div>
        <% post.images.each do |image| %>
          <%= image_tag image, size: "100x100" %>
        <% end %>
      </div>
    <% end %>
  </div>  
<% end %>  