<div class="d-flex flex-column align-items-center">
  <% if posts.present? %>
    <% posts.each do |post| %>
      <div class="m-2 p-4 border w-75 shadow">
        <div class="container px-5 px-sm-0">
          <div class="row">
            <div class="col-lg-5">
              <div class="link mb-3 font-weight-bold">
                <%= link_to user_path(post.user) do %>
                  <%= render "public/users/icon", user: post.user, image_class: "index-icon img-fluid rounded-circle" %>
                  <%= post.user.name %>
                <% end %>
              </div>
              <%= link_to post_path(post) do %>
                <h4 class="font-weight-bold mb-4"><%= post.title %></h4>
                <div class="font-weight-bold my-2"><%= post.name %></div>
                <div class="my-2"><%= post.purpose.name %></div>
                <% unless post.category.nil? %>
                  <div class="my-2"><%= post.category.name %></div>
                <% end %>
                <% if post.min_fee.present? || post.max_fee.present? %>
                  <div class="my-2">
                    <% if post.min_fee.present? %>
                      &yen; <%= post.min_fee %>
                    <% end %>
                     ~
                    <% if post.max_fee.present? %>
                      &yen; <%= post.max_fee %>
                    <% end %>
                  </div>
                <% end %>
                <% if post.address.present? %>
                  <div class="my-2"><%= post.address %></div>
                <% end %>
              <% end %>
            </div>
            <div class="col-lg-7 d-flex align-items-center">
              <% if post.images.present? %>
                <div class="w-100 border<%= " slider" if post.images.count >= 2 %>">
                  <% post.images.each do |image| %>
                    <div class="index-image d-flex justify-content-center align-items-center<%= " slick-slide" if post.images.count <= 2 %>">
                      <%= image_tag image, class: "show-image" %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row mt-2">
            <div class="favorite_btn_<%= post.id %> mx-auto">
              <%= render "public/favorites/btn", post: post %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <!--投稿がない場合-->
  <% else %>
    <p>投稿がありません</p>
  <% end %>
  <div class="m-3">
    <%= paginate posts %>
  </div>
</div>