<div class="btn"><%= link_to '戻る', "javascript:history.back()", class: "btn btn-secondary", data: { turbolinks: false } %></div>
<div class="p-4 mt-3 border w-100">
  <div class="d-flex align-items-center position-relative">
    <div class="link font-weight-bold">
      <%= link_to user_path(@post.user) do %>
        <%= render "public/users/icon", user: @post.user, image_class: "post-show-icon img-fluid rounded-circle" %>
        <%= @post.user.name %>
      <% end %>
    </div>
    <% if @post.user == current_user || admin_signed_in? %>
      <div class="post-edit p-2 d-flex align-items-center position-absolute">
        <div class="m-2 btn"><%= link_to "編集", edit_post_path(@post), data: { turbolinks: false }, class: "btn btn-success" %></div>
        <div class="m-2 btn"><%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？"} , class: "btn btn-danger"%></div>
      </div>
    <% end %>
  </div>
  <div class="menu container px-5 px-sm-0">
    <div class="row">
      <div class="col-lg-5">
        <h3 class="my-2 font-weight-bold"><%= @post.name %></h3>
        <div class="d-flex align-items-center">
          <div class="mr-2"><%= @post.purpose.name %></div>
          <% unless @post.category.nil? %>
            /
            <div class='mx-2'><%= @post.category.name %></div>
          <% end %>
        </div>
        <% if @post.min_fee.present? || @post.max_fee.present? %>
          <div>
            <% if @post.min_fee.present? %>
              &yen; <%= @post.min_fee %>
            <% end %>
             ~
            <% if @post.max_fee.present? %>
              &yen; <%= @post.max_fee %>
            <% end %>
          </div>
        <% end %>
        <% if @post.address.present? %>
          <div><%= @post.address %></div>
        <% end %>
        <% if @post.site_url.present? %>
          <div class="link">
            <%= link_to "サイトを見る", @post.site_url, target: '_blank', rel: 'noopener' %>
          </div>
        <% end %>
        <h4 class="my-4 font-weight-bold"><%= @post.title %></h4>
        <div><%= @post.introduction %></div>
        <% if @post.features.present? %>
          <div class="d-flex flex-wrap py-3">
            <% @post.features.each do |feature| %>
              <div class="my-1 mr-3">
                <%= feature.name %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-lg-7 d-flex align-items-center pr-3">
        <% if @post.images.present? %>
          <div class="w-100 border<%= " slider" if @post.images.count >= 2 %>">
            <% @post.images.each do |image| %>
              <div class="show-image d-flex justify-content-center align-items-center">
                <%= image_tag image, class: "show-image" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="p-3 d-flex align-items-center justify-content-center border">
  <div class="mx-5 favorite_btn_<%= @post.id %>">
    <%= render "public/favorites/btn", post: @post %>
  </div>
  <div class="mx-5">
    <%= form_with url: new_plan_path, method: :get do |f| %>
      <%= hidden_field_tag "plan[name]", @post.name %>
      <%= hidden_field_tag "plan[plan_genre_id]", PlanGenre.find_by(name: @post.purpose.name)&.id %>
      <%= hidden_field_tag "plan[address]", @post.address %>
      <%= hidden_field_tag "plan[post_url]", request.original_url %>
      <%= hidden_field_tag "plan[site_url]", @post.site_url %>
      <%= f.submit "プラン作成", class: "btn btn-info" %>
    <% end %>
  </div>
</div>
<div class="p-4 border w-100">
    <%= form_with model: [@post, @comment], html: {class: "comment-form"} do |f| %>
      <%= f.text_area :body, placeholder: "コメントする" %>
      <%= f.submit "送信", class: "btn btn-primary ml-3" %>
    <% end %>
</div>
<div class="pb-3 px-3 mb-4 border w-100">
  <div class="m-3">
    <%= @post.comments.count %>コメント
  </div>
  <% @comments.each do |comment| %>
    <div class="my-2 p-3 border w-100">
      <div class="comments d-flex align-items-center position-relative">
        <div class="link font-weight-bold">
          <%= link_to user_path(@post.user) do %>
            <%= render "public/users/icon", user: @post.user, image_class: "index-icon mr-2 img-fluid rounded-circle" %>
            <%= @post.user.name %>
          <% end %>
        </div>
        <% if comment.user == current_user || admin_signed_in? %>
          <div class="btn position-absolute"><%= link_to "削除", post_comment_path(@post, comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger" %></div>
        <% end %>
      </div>
      <div>
        <%= comment.body %>
      </div>
    </div>
  <% end %>
</div>