<div class="btn"><%= link_to '戻る', "javascript:history.back()", class: "btn btn-secondary", data: { turbolinks: false } %></div>
<h1 class="mb-4 text-center">投稿作成</h1>

<%= form_with url: new_post_path, method: :get, local: true, class: 'form-horizontal' do |f| %>
  <div class="form-group m-3">
    <h4>目的</h4>
    <div class="field d-flex">
      <%= f.collection_radio_buttons :purpose_id, @purposes, :id, :name do |purpose| %>
        <div class="mx-3 form-check form-check-inline">
          <%= purpose.radio_button class: "form-check-input" %>
          <%= purpose.label class: "form-check-label" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-group my-4">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "次へ", class: "btn btn-info" %>
    </div>
  </div>
<% end %>