<h1 class="my-4">投稿作成</h1>

<%= form_with url: new_post_path, method: :get do |f| %>
  <div class="m-3">
    <h4>目的</h4>
    <div class="field d-flex">
      <%= f.collection_radio_buttons :purpose_id, @purposes, :id, :name do |purpose| %>
        <div class="mx-3">
          <%= purpose.radio_button %>
          <%= purpose.label %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="my-4">
    <%= f.submit "次へ" %>
  </div>
<% end %>