<h1><%= heading.html_safe %></h1>

<% if users.present? %>
  <div class="my-4">
    <%= form_with url: url, method: :get do |f| %>
      <%= f.text_field :word, placeholder: "ユーザーネーム検索" %>
      <%= f.submit "検索" %>
    <% end %>
  </div>

  <% users.each do |user| %>
    <div class="m-2 p-3 border w-50 shadow">
      <div class="d-flex align-items-center">
        <div>
          <%= link_to user_path(user) do %>
            <%= render "public/users/icon", user: user, size: "40x40" %>
            <%= user.name %>
          <% end %>
        </div>
        <% if user != current_user %>
          <div class="mx-4 follow_btn_<%= user.id %>">
            <%= render "public/relationships/btn", user: user %>
          </div>
        <% end %>
      </div>
      <div class="p-2">
        <%= user.introduction %>
      </div>
    </div>
  <% end %>

<% else %>
  <p>ユーザーはいません</p>
<% end %>

<%= paginate users %>