<!--新規登録やログイン、ユーザー情報の編集の後は戻るボタンを表示しない-->
<% if flash[:notice].blank? && flash[:alert].blank? %>
  <div class="btn">
    <%= link_to '戻る', "javascript:history.back()", class: "btn btn-secondary", data: { turbolinks: false } %>
  </div>
<% end %>

<div class="container text-center">

  <div class="m-2">
    <%= render "icon", user: @user, image_class: "user-show-icon img-fluid rounded-circle" %>
  </div>

  <h3><%= @user.name %></h3>

  <div class="relationships_number_<%= @user.id %>">
    <%= render "public/relationships/number", user: @user %>
  </div>

  <div class="py-3 mx-auto w-75"><%= @user.introduction %></div>

  <div class="py-3 d-flex justify-content-center">
    <% if (@user == current_user && !@user.guest_user?) || admin_signed_in? %>
      <div class="btn my-2">
        <%= link_to "編集", edit_user_path(@user), data: { turbolinks: false }, class: "btn btn-success" %>
      </div>
    <% else %>
      <div class="my-2 follow_btn_<%= @user.id %>">
        <%= render "public/relationships/btn", user: @user %>
      </div>
    <% end %>
  </div>
</div>

  <div class="py-3">
    <%= render "public/posts/index", posts: @posts %>
  </div>
